services:
  db:
    image: postgres:16
    container_name: ecommerce_db
    environment:
      POSTGRES_DB: ecommerce
      POSTGRES_USER: ecommerce
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ecommerce -d ecommerce"]
      interval: 5s
      timeout: 3s
      retries: 10

  adminer:
    image: adminer:4
    container_name: adminer
    ports:
      - "8081:8080"
    depends_on:
      db:
        condition: service_healthy

  backend:
    build: ./backend
    container_name: ecommerce_backend
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db
      - SPRING_DATASOURCE_USERNAME=ecommerce
      - SPRING_DATASOURCE_PASSWORD=secret
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build: ./frontend
    container_name: ecommerce_frontend
    ports:
        - "80:80"
    depends_on:
        - backend
volumes:
  pgdata: